version: '3.8'

services:
  postgres:
    image: postgres:17
    container_name: hr_system_postgres
    environment:
      POSTGRES_DB: hr-system
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: qwertyui
    ports:
      - "5433:5433"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: